{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexo | Login</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <script src="https://unpkg.com/lucide@latest"></script>

    <link rel="stylesheet" href="{% static "login/login.css" %} ">
</head>

<body>
    <div id="NavBar">
        <div id="logo-box"><img src="{% static "logo.png" %}" width="60px" alt="">
            <div class="logotxt text-3xl font-bold text-gray-400  ">NEXO</div>
        </div>
    </div>
    <section class="min-h-screen flex items-center justify-center p-4 sm:p-8" id="loginPage">

        <div id="eliment"><img src="{% static "login/hero-shape.svg" %}" width="350" alt=""></div>

        <div class="max-w-6xl w-full grid grid-cols-1 lg:grid-cols-2 gap-12 items-center" id="LRBox">

            <!-- Left Illustration -->
            <div id="imgBox">

                <img src="{% static "login/hero-img.svg" %}" alt="">
            </div>

            <!-- Right Login Section -->
            <div class="w-full max-w-md mx-auto lg:ml-auto" id="loginSection">
                <div class="mb-10">
                    <h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome Back :)</h1>
                    <p class="text-gray-500 font-medium">
                        To keep connected with us please login with your personal information 🔔
                    </p>
                    {% if acerror %}
                    <p class="text-red-500 font-small">
                        Phone number not Registered !
                    </p>
                    {% endif %}
                    {% if perror %}
                    <p class="text-red-500 font-small">
                        Password Wrong !
                    </p>
                    {% endif %}
                </div>

                <form id="loginForm" class="space-y-6" action="{% url "login" %}" method="post">
                    {% csrf_token %}
                    <!-- Email -->
                    <div>
                        <label class="label">Seller Phone</label>
                        <div id="emailContainer" class="input-group">
                            <i data-lucide="phone"></i>
                            <input type="number" id="email" placeholder="Enter Phone no" name="phone">
                            <i id="emailValidIcon" data-lucide="check-circle-2" class="hidden valid-icon"></i>
                        </div>
                    </div>

                    <!-- Password -->
                    <div>
                        <label class="label">Password</label>
                        <div class="input-group">
                            <i data-lucide="lock"></i>
                            <input type="password" id="password" placeholder="••••••••" name="password" required>
                            <button type="button" id="togglePassword">
                                <i data-lucide="eye" id="eyeIcon"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Remember / Forget -->
                    <div class="flex justify-between text-sm" class="abcd">
                        <label class="flex items-center">
                         <div id="forgotTxt" >    Forgot your password? Please contact the admin at admin@example.com to reset it.                     </div>

                        </label>
                    </div>

                    <!-- Buttons -->
                    <div class="flex gap-4">
                        <button type="submit" class="btn-primary">Login Now</button>
                      <button type="button" class="btn-secondary" id="createaccount">  <a href="{% url "registration" %}">Create Account  <a/></button>
                    </div>
                </form>
            </div>
        </div>

        <!-- JS -->
    </section>
    <script src="{% static "login/main.js" %}"></script>
</body>


</html>